<div nz-row>
    <div nz-col nzSpan="24">
        <highcharts-chart [Highcharts]="Highcharts" [options]="cpu_chartOptions"
            [callbackFunction]="cpu_chartCallback" [oneToOne]="true" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="24">
        <highcharts-chart [Highcharts]="Highcharts" [options]="mem_chartOptions"
            [callbackFunction]="mem_chartCallback" [oneToOne]="true" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
    </div>
</div>
